#############################
# Git
#############################
.git/
.gitignore

#############################
# Python
#############################
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

#############################
# Virtual Environment
#############################
venv/
.env
.env.*

#############################
# Django
#############################
backend/staticfiles/
backend/media/

#############################
# Node
#############################
frontend/node_modules/
frontend/build/

#############################
# Docker
#############################
docker/env/.env.dev
docker/env/.env.prod
docker/env/.env.staging

#############################
# VS Code
#############################
.vscode/

#############################
# IntelliJ
#############################
.idea/

#############################
# macOS
#############################
.DS_Store

#############################
# Windows
#############################
Thumbs.db